*,
::before,
::after {
	margin: 0;
	padding: 0;

	/*清除点击默认的高亮效果*/
	-webkit-tap-highlight-color: transparent;
	/*以你的border开始计算你的宽度*/
	-webkit-box-sizing: border-box;
}

body {
	font-size: 14px;
	/*第二个是手机的一个默认的字体*/
	font-family: "Microsoft YaHei",sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

input,textarea {
	border: none;
	resize: none;
	/*谷歌-请求选中效果*/
	outline: none;

	/*清除浏览器默认样式*/
	-webkit-appearance: none;
}

/*清除浮动*/
.clearfix::before,
.clearfix::after {
	content: ".",
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

[class^="icon_"] {
	background: url(../img/sprites.png) no-repeat; 
	-webkit-background-size: 200px 200px; 
	background-size: 200px 200px;
}
